litellm
python-dotenv
requests
duckduckgo-search
firecrawl-py
sentence-transformers
numpy
matplotlib
PyGithub
hf_xet
fastapi
uvicorn[standard]
python-multipart
python-magic
boto3
seaborn
plotly
pandas